In [35]:
conda install -c anaconda py-xgboost

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Anagha\anaconda3

  added / updated specs:
    - py-xgboost


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _py-xgboost-mutex-2.0      |            cpu_0          12 KB  anaconda
    conda-4.8.4                |           py37_0         3.1 MB  anaconda
    libxgboost-0.90            |                1         3.9 MB  anaconda
    py-xgboost-0.90            |           py37_1          80 KB  anaconda
    ------------------------------------------------------------
                                           Total:         7.0 MB

The following NEW packages will be INSTALLED:

  _py-xgboost-mutex  anaconda/win-64::_py-xgboost-mutex-2.0-cpu_0
  libxgboost         anaconda/win-64::libxgboost-0.90-1
  py-xgboost         anaconda/win-64::py-xgboost-0.90-py37_1

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.2-py37_0 --> anaconda::conda-4.8.4-py37_0



Downloading and Extracting Packages

conda-4.8.4          | 3.1 MB    |            |   0%
conda-4.8.4          | 3.1 MB    |            |   1%
conda-4.8.4          | 3.1 MB    | 4          |   4%
conda-4.8.4          | 3.1 MB    | 5          |   5%
conda-4.8.4          | 3.1 MB    | 7          |   7%
conda-4.8.4          | 3.1 MB    | 8          |   8%
conda-4.8.4          | 3.1 MB    | #          |  10%
conda-4.8.4          | 3.1 MB    | #3         |  13%
conda-4.8.4          | 3.1 MB    | #5         |  15%
conda-4.8.4          | 3.1 MB    | ##2        |  22%
conda-4.8.4          | 3.1 MB    | ##5        |  25%
conda-4.8.4          | 3.1 MB    | ##8        |  28%
conda-4.8.4          | 3.1 MB    | ###1       |  31%
conda-4.8.4          | 3.1 MB    | ###4       |  35%
conda-4.8.4          | 3.1 MB    | ###7       |  37%
conda-4.8.4          | 3.1 MB    | ####       |  41%
conda-4.8.4          | 3.1 MB    | ####3      |  44%
conda-4.8.4          | 3.1 MB    | ####7      |  47%
conda-4.8.4          | 3.1 MB    | #####      |  50%
conda-4.8.4          | 3.1 MB    | #####4     |  54%
conda-4.8.4          | 3.1 MB    | #####7     |  57%
conda-4.8.4          | 3.1 MB    | #####9     |  60%
conda-4.8.4          | 3.1 MB    | ######2    |  62%
conda-4.8.4          | 3.1 MB    | ######4    |  64%
conda-4.8.4          | 3.1 MB    | ######6    |  66%
conda-4.8.4          | 3.1 MB    | ######7    |  68%
conda-4.8.4          | 3.1 MB    | ######9    |  69%
conda-4.8.4          | 3.1 MB    | #######    |  71%
conda-4.8.4          | 3.1 MB    | #######2   |  72%
conda-4.8.4          | 3.1 MB    | #######3   |  73%
conda-4.8.4          | 3.1 MB    | #######4   |  75%
conda-4.8.4          | 3.1 MB    | #######5   |  76%
conda-4.8.4          | 3.1 MB    | #######6   |  77%
conda-4.8.4          | 3.1 MB    | #######7   |  78%
conda-4.8.4          | 3.1 MB    | #######9   |  80%
conda-4.8.4          | 3.1 MB    | ########1  |  82%
conda-4.8.4          | 3.1 MB    | ########2  |  83%
conda-4.8.4          | 3.1 MB    | ########3  |  84%
conda-4.8.4          | 3.1 MB    | ########5  |  86%
conda-4.8.4          | 3.1 MB    | ########7  |  88%
conda-4.8.4          | 3.1 MB    | ########9  |  90%
conda-4.8.4          | 3.1 MB    | #########1 |  92%
conda-4.8.4          | 3.1 MB    | #########3 |  94%
conda-4.8.4          | 3.1 MB    | #########8 |  98%
conda-4.8.4          | 3.1 MB    | ########## | 100%

_py-xgboost-mutex-2. | 12 KB     |            |   0%
_py-xgboost-mutex-2. | 12 KB     | ########## | 100%

libxgboost-0.90      | 3.9 MB    |            |   0%
libxgboost-0.90      | 3.9 MB    |            |   0%
libxgboost-0.90      | 3.9 MB    | 2          |   3%
libxgboost-0.90      | 3.9 MB    | 4          |   5%
libxgboost-0.90      | 3.9 MB    | 6          |   7%
libxgboost-0.90      | 3.9 MB    | #          |  11%
libxgboost-0.90      | 3.9 MB    | #2         |  13%
libxgboost-0.90      | 3.9 MB    | #5         |  15%
libxgboost-0.90      | 3.9 MB    | #6         |  17%
libxgboost-0.90      | 3.9 MB    | #8         |  18%
libxgboost-0.90      | 3.9 MB    | #9         |  19%
libxgboost-0.90      | 3.9 MB    | ##         |  21%
libxgboost-0.90      | 3.9 MB    | ##1        |  22%
libxgboost-0.90      | 3.9 MB    | ##3        |  23%
libxgboost-0.90      | 3.9 MB    | ##5        |  26%
libxgboost-0.90      | 3.9 MB    | ##7        |  28%
libxgboost-0.90      | 3.9 MB    | ##9        |  29%
libxgboost-0.90      | 3.9 MB    | ###        |  31%
libxgboost-0.90      | 3.9 MB    | ###3       |  34%
libxgboost-0.90      | 3.9 MB    | ###5       |  35%
libxgboost-0.90      | 3.9 MB    | ###6       |  37%
libxgboost-0.90      | 3.9 MB    | ###8       |  39%
libxgboost-0.90      | 3.9 MB    | ####       |  40%
libxgboost-0.90      | 3.9 MB    | ####3      |  43%
libxgboost-0.90      | 3.9 MB    | ####5      |  45%
libxgboost-0.90      | 3.9 MB    | ####7      |  47%
libxgboost-0.90      | 3.9 MB    | ####9      |  49%
libxgboost-0.90      | 3.9 MB    | #####1     |  51%
libxgboost-0.90      | 3.9 MB    | #####3     |  54%
libxgboost-0.90      | 3.9 MB    | #####5     |  56%
libxgboost-0.90      | 3.9 MB    | #####7     |  58%
libxgboost-0.90      | 3.9 MB    | ######     |  60%
libxgboost-0.90      | 3.9 MB    | ######1    |  62%
libxgboost-0.90      | 3.9 MB    | ######5    |  65%
libxgboost-0.90      | 3.9 MB    | ######7    |  68%
libxgboost-0.90      | 3.9 MB    | #######    |  70%
libxgboost-0.90      | 3.9 MB    | #######2   |  73%
libxgboost-0.90      | 3.9 MB    | #######7   |  77%
libxgboost-0.90      | 3.9 MB    | #######9   |  80%
libxgboost-0.90      | 3.9 MB    | ########2  |  82%
libxgboost-0.90      | 3.9 MB    | ########4  |  85%
libxgboost-0.90      | 3.9 MB    | ########7  |  87%
libxgboost-0.90      | 3.9 MB    | #########1 |  92%
libxgboost-0.90      | 3.9 MB    | #########4 |  94%
libxgboost-0.90      | 3.9 MB    | #########6 |  97%
libxgboost-0.90      | 3.9 MB    | ########## | 100%

py-xgboost-0.90      | 80 KB     |            |   0%
py-xgboost-0.90      | 80 KB     | #9         |  20%
py-xgboost-0.90      | 80 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.2
  latest version: 4.8.4

Please update conda by running

    $ conda update -n base -c defaults conda

In [36]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\anagha\anaconda3\lib\site-packages (0.90)
Requirement already satisfied: numpy in c:\users\anagha\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Requirement already satisfied: scipy in c:\users\anagha\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Test Dataset:

In [3]:
df1=pd.read_csv("test.csv")

In [105]:
HouesID=df1['Id']
df1.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,1,2,3,4,2,0,2,2,8,4
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,1,2,3,4,2,0,2,0,8,4
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,1,0,3,4,2,0,2,2,8,4
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,1,0,3,4,2,0,2,2,8,4
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,1,1,3,4,2,0,2,2,8,4

In [4]:
#checking non numberical values from the data set
df_obj=pd.DataFrame()
cnt=1
for col in df1.columns:
    if(df1[col].dtype=='O'):
          df_obj[col]=df1[col]
df_obj.head(3)
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df_obj=pd.DataFrame(imp.fit_transform(df_obj),columns=df_obj.columns,index=df_obj.index)
df_obj.head(3)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RH,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal
1,RL,Pave,Grvl,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Ex,MnPrv,Gar2,WD,Normal
2,RL,Pave,Grvl,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,Fin,TA,TA,Y,Ex,MnPrv,Shed,WD,Normal

In [5]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
#df_obj=df_obj.columns.to_numpy().tolist()
for col in df_obj.columns[0:]:
    df_obj[col]= lb_make.fit_transform(df_obj[col])
df_obj.head(3)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,2,1,0,3,3,0,4,0,12,1,...,1,2,3,4,2,0,2,2,8,4
1,3,1,0,0,3,0,0,0,12,2,...,1,2,3,4,2,0,2,0,8,4
2,3,1,0,0,3,0,4,0,8,2,...,1,0,3,4,2,0,2,2,8,4

In [6]:
df_num=pd.DataFrame()
cnt=1
for col in df1.columns:
    if(df1[col].dtype=='int64' or df1[col].dtype=='float64'):
          df_num[col]=df1[col]
#checking  numberical values from the data set
cnt=1
for col in df_num.columns:
    #if(df1[col].dtype=='int64' or df1[col].dtype=='float64'):
        if(df_num[col].isnull().sum()!=0):
            df_num[col]=df_num[col].replace(np.NaN,df_num[col].mean())
df_num.head(3)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,730.0,140,0,0,0,120,0,0,6,2010
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,312.0,393,36,0,0,0,0,12500,6,2010
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,482.0,212,34,0,0,0,0,0,3,2010

In [7]:
#Combining numerical & catagorical dataset
df1=pd.concat([df_num,df_obj],axis=1)
df1.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,1,2,3,4,2,0,2,2,8,4
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,1,2,3,4,2,0,2,0,8,4
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,1,0,3,4,2,0,2,2,8,4
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,1,0,3,4,2,0,2,2,8,4
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,1,1,3,4,2,0,2,2,8,4

In [8]:
#df1.info()

# Train Dataset:

In [9]:
df2=pd.read_csv("train.csv")
df2.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [110]:
df2.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,3,1,0,3,3,0,4,0,5,2,...,0,61,0,0,0,0,0,2,2008,208500
1,3,1,0,3,3,0,2,0,24,1,...,298,0,0,0,0,0,0,5,2007,181500
2,3,1,0,0,3,0,4,0,5,2,...,0,42,0,0,0,0,0,9,2008,223500
3,3,1,0,0,3,0,0,0,6,2,...,0,35,272,0,0,0,0,2,2006,140000
4,3,1,0,0,3,0,2,0,15,2,...,192,84,0,0,0,0,0,12,2008,250000

In [10]:
#checking non numberical values from the data set
df_obj=pd.DataFrame()
cnt=1
for col in df2.columns:
    if(df2[col].dtype=='O'):
          df_obj[col]=df2[col]
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df_obj=pd.DataFrame(imp.fit_transform(df_obj),columns=df_obj.columns,index=df_obj.index)
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
#df_obj=df_obj.columns.to_numpy().tolist()
for col in df_obj.columns[0:]:
    df_obj[col]= lb_make.fit_transform(df_obj[col])
df_obj.head(3)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,3,1,0,3,3,0,4,0,5,2,...,1,1,4,4,2,2,2,2,8,4
1,3,1,0,3,3,0,2,0,24,1,...,1,1,4,4,2,2,2,2,8,4
2,3,1,0,0,3,0,4,0,5,2,...,1,1,4,4,2,2,2,2,8,4

In [11]:
df_num=pd.DataFrame()
cnt=1
for col in df2.columns:
    if(df2[col].dtype=='int64' or df2[col].dtype=='float64'):
          df_num[col]=df2[col]
#checking  numberical values from the data set
cnt=1
for col in df_num.columns:
    #if(df1[col].dtype=='int64' or df1[col].dtype=='float64'):
        if(df_num[col].isnull().sum()!=0):
            df_num[col]=df_num[col].replace(np.NaN,df_num[col].mean())
df_num.head(3)

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500

In [12]:
#Combining numerical & catagorical dataset
df2=pd.concat([df_obj,df_num],axis=1)
df2.head(2)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,3,1,0,3,3,0,4,0,5,2,...,0,61,0,0,0,0,0,2,2008,208500
1,3,1,0,3,3,0,2,0,24,1,...,298,0,0,0,0,0,0,5,2007,181500

# Feature Selection:

In [79]:
X = df2.iloc[:,:]  #independent columns
y = df2.iloc[:,-1]    #target column i.e price range

In [80]:
#apply SelectKBest class to extract top 40 best features
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
kbest_model = SelectKBest(score_func =chi2, k=30)
kbest_model.fit(X,y)

SelectKBest(k=30, score_func=<function chi2 at 0x000001A52FCBB168>)

In [81]:
dict1= {
    'Columns':X.columns,
    'Scores':kbest_model.scores_
}

feature_scores_df = pd.DataFrame(dict1)

In [82]:
feature_scores_df

        Columns        Scores
0      MSZoning  1.138031e+02
1        Street  3.650601e+00
2         Alley  6.719723e+02
3      LotShape  8.029729e+02
4   LandContour  1.243574e+02
..          ...           ...
76     PoolArea  3.835642e+05
77      MiscVal  6.253332e+06
78       MoSold  7.429758e+02
79       YrSold  6.029712e-01
80    SalePrice  5.089460e+07

[81 rows x 2 columns]

In [83]:
df_f=feature_scores_df.nlargest(40,'Scores')
#df_f.columns
c=df_f['Columns'].values

In [84]:
df2_c=df2[:].copy()
df1_cop=df1[:].copy()
df1_cop.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,1,2,3,4,2,0,2,2,8,4
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,1,2,3,4,2,0,2,0,8,4
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,1,0,3,4,2,0,2,2,8,4
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,1,0,3,4,2,0,2,2,8,4
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,1,1,3,4,2,0,2,2,8,4

In [85]:
clm=list()
df2_c1=pd.DataFrame()
for col in df2_c.columns[:]:
    for i in c:
        if col ==i:
            clm.append(col)
            df2_c1[col]=df2_c[col]
print(len(clm))
df2_c1.head()

40

,Alley,LotShape,LotConfig,LandSlope,Neighborhood,BldgType,HouseStyle,Exterior1st,Exterior2nd,BsmtFinType1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,SalePrice
0,0,3,4,0,5,0,5,12,13,2,...,548,0,61,0,0,0,0,0,2,208500
1,0,3,2,0,24,0,2,8,8,0,...,460,298,0,0,0,0,0,0,5,181500
2,0,0,4,0,5,0,5,12,13,2,...,608,0,42,0,0,0,0,0,9,223500
3,0,0,0,0,6,0,5,13,15,0,...,642,0,35,272,0,0,0,0,2,140000
4,0,0,2,0,15,0,5,12,13,2,...,836,192,84,0,0,0,0,0,12,250000

In [86]:
clm=list()
df1_c1=pd.DataFrame()
for col in df1_cop.columns[:]:
    for i in c:
        if col ==i:
            clm.append(col)
            df1_c1[col]=df1_cop[col]
print(len(clm))
df1_c1.head()

39

,Id,MSSubClass,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,...,LandSlope,Neighborhood,BldgType,HouseStyle,Exterior1st,Exterior2nd,BsmtFinType1,HeatingQC,GarageType,GarageFinish
0,1461,20,80.0,11622,0.0,468.0,144.0,270.0,882.0,896,...,0,12,0,2,10,12,4,4,1,2
1,1462,20,81.0,14267,108.0,923.0,0.0,406.0,1329.0,1329,...,0,12,0,2,11,13,0,4,1,2
2,1463,60,74.0,13830,0.0,791.0,0.0,137.0,928.0,928,...,0,8,0,4,10,12,2,2,1,0
3,1464,60,78.0,9978,20.0,602.0,0.0,324.0,926.0,926,...,0,8,0,4,10,12,2,0,1,0
4,1465,120,43.0,5005,0.0,263.0,0.0,1017.0,1280.0,1280,...,0,22,4,2,6,6,0,0,1,1

In [87]:
df2.head(2)

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,3,1,0,3,3,0,4,0,5,2,...,0,61,0,0,0,0,0,2,2008,208500
1,3,1,0,3,3,0,2,0,24,1,...,298,0,0,0,0,0,0,5,2007,181500

In [88]:
x_test=df1_c1.iloc[:,:].values #Test data (After feature selection)
x_train=df2_c1.iloc[:,1:].values #train data (After feature selection)
y_train=df2.iloc[:,-1].values #SalePrice dependent variable

# Cross Validation:

In [122]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.metrics import make_scorer, r2_score,accuracy_score
#from sklearn.metrics import accuracy_score,confusion_matrix

In [90]:
def test_model(model,x_train=x_train,y_train=y_train):
    cv=KFold(n_splits=3,shuffle=True,random_state=0)
    r2=make_scorer(r2_score)
    r2_val_score=cross_val_score(model,x_train,y_train,cv=cv,scoring=r2)
    score=[r2_val_score.mean()]
    return score

In [123]:
def test_model_acc(model,x_train=x_train,y_train=y_train):
    cv=KFold(n_splits=3,shuffle=True,random_state=0)
    r2=make_scorer(accuracy_score)
    r2_val_score=cross_val_score(model,x_train,y_train,cv=cv,scoring=r2)
    score=[r2_val_score.mean()]
    return score

In [125]:
import sklearn.linear_model as linear_model
LR = linear_model.LinearRegression()
print(test_model(LR))

[1.0]

In [94]:
rgd=linear_model.Ridge()
test_model(rgd)

[1.0]

In [129]:
lasso=linear_model.Lasso()
test_model(lasso)
#test_model_acc(lasso)

[0.9999999999994902]

In [127]:
#XGBoost
import xgboost
xgb_reg = xgboost.XGBRegressor(bbooster='gbtree',random_state=0)
test_model(xgb_reg)

[19:08:50] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[19:08:50] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[19:08:50] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

[0.9977601065426006]

In [109]:
xgb_reg.fit(x_train,y_train)
y_pre=xgb_reg.predict(x_test)
print(len(y_pre))
print(y_pre)

[18:41:51] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
1459
[36844.96  37120.824 36589.75  ... 36820.32  36820.32  36679.027]

In [106]:
output = pd.DataFrame({'HouseId': HouesID, 'SalePrice': y_pre})
output.to_csv('Output.csv', index=False)

In [107]:
output.head()

   HouseId     SalePrice
0     1461  36844.960938
1     1462  37120.824219
2     1463  36589.750000
3     1464  36589.750000
4     1465  36731.042969

In [134]:
LR.fit(x_train,y_train)
y_pr=LR.predict(x_test)
print(len(y_pr))
print(y_pr)
output1 = pd.DataFrame({'HouseId': HouesID, 'SalePrice': y_pr})
output1.head()

1459
[2.00000003e+00 2.00000003e+00 2.72786049e-08 ... 2.00000004e+00
 2.00000003e+00 3.03155709e-08]

   HouseId     SalePrice
0     1461  2.000000e+00
1     1462  2.000000e+00
2     1463  2.727860e-08
3     1464  2.324585e-08
4     1465  1.000000e+00